
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/slider1.jpg" class="d-block w-100" alt="images/slider1.jpg">
      <div class="carousel-caption d-md-block">
        <h5>Premiere image</h5>
        <p>Admirez la beauté</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/slider2.jpg" class="d-block w-100" alt="images/slider1.jpg">
      <div class="carousel-caption d-md-block">
        <h5>Deuxieme image</h5>
        <p>Admirez la beauté</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="images/slider1.jpg" class="d-block w-100" alt="images/slider1.jpg">
      <div class="carousel-caption d-md-block">
        <h5>Troisième image</h5>
        <p>Admirez la beauté</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Retour</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>

		<section class="main_heading my-5">
			<div class="text-center ">
				<h1 class="display-4">A propos</h1>
				<hr class="w-25 mx-auto" />
			</div>
			
		</section>

		<div class="container">
			<!-- 1st row end -->
			<div class="row my-5">
				<div class="col-lg-6 col-md-6 col-12 col-xxl-6">
					<figure>
						<img src="images/g1.jpg" class="img-fluid about_img">
					</figure>
				</div>
				<div class="col-lg-6 col-md-6 col-12 col-xxl-6 d-flex justify-content-center align-items-start flex-column">
					<h1>De magnifique photo</h1>
					<p>Admirez ces photos incroyables</p>
					<button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="right" title="who am i">En savoir plus</button>
				</div>
			</div>
	
			<div class="row my-5">
				<div class="col-lg-6 col-md-6 col-12 col-xxl-6 d-flex justify-content-center align-items-start flex-column">
					<h1>Touchés par des experts</h1>
					<p>Nos albums sont fait par des experts </p>
					<button type="button" class="btn btn-outline-info">En savoir plus</button>
				</div>

				<div class="col-lg-6 col-md-6 col-12 col-xxl-6 my-5">
					<figure>
						<img src="images/slider3.jpg" class="img-fluid about_img">
					</figure>
				</div>
				
			</div>	
</div>

		<section class="main_heading my-5 pt-5 bg-light">
			<div class="text-center ">
				<h1 class="display-4">Nos services</h1>
				<hr class="w-25 mx-auto" />
			</div>

			<div class="container my-service">
				<div class="row  my-5">
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
						<div class="card mb-3" style="max-width: 540px;">
							  <div class="row">
							    <div class="col-md-4 horizontal-card-img">
							      <img src="images/h1.jpg" class="img-fluid rounded-start" alt="images/g1.jpg">
							    </div>
							    <div class="col-md-8">
							      <div class="card-body">
							        <h5 class="card-title">Cartes de visite</h5>
							        <p class="card-text">Nous faisons des cartes de visite personnalisées</p>
							      </div>
							    </div>
							  </div>
							</div>
					</div>

					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
						<div class="card mb-3" style="max-width: 540px;">
							  <div class="row">
							    <div class="col-md-4 horizontal-card-img">
							      <img src="images/h1.jpg" class="img-fluid rounded-start" alt="images/g1.jpg">
							    </div>
							    <div class="col-md-8">
							      <div class="card-body">
							        <h5 class="card-title">Cartes de visite</h5>
							        <p class="card-text">Nous faisons des cartes de visite personnalisées</p>
							      </div>
							    </div>
							  </div>
							</div>
					</div>

					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
						<div class="card mb-3" style="max-width: 540px;">
							  <div class="row">
							    <div class="col-md-4 horizontal-card-img">
							      <img src="images/h1.jpg" class="img-fluid rounded-start" alt="images/g1.jpg">
							    </div>
							    <div class="col-md-8">
							      <div class="card-body">
							        <h5 class="card-title">Cartes de visite</h5>
							        <p class="card-text">Nous faisons des cartes de visite personnalisées</p>
							      </div>
							    </div>
							  </div>
							</div>
					</div>



					<div class="col-xxl-12 text-center my-5">
						<button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="right" title="who am i">En savoir plus</button>
					</div>
					
				</div>
				
			</div>


			
		</section>

		<section class="main_heading my-5 mt-5">
			<div class="text-center ">
				<h1 class="display-4">Galerie</h1>
				<hr class="w-25 mx-auto" />
			</div>

			<div class="container">
				<div class="row gy-2 my-5">
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/slider1.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/slider2.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/slider1.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/slider2.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/g1.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/slider1.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/slider2.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/slider1.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					<div class="col-md-4 col-10 col-xxl-4 mx-auto">
							<figure>
								<img src="images/slider2.jpg" alt="Gellery" class="img-fluid">
							</figure>
					</div>
					
				</div>
			</div>
			
		</section>
