 <section class="main_heading my-5 mt-5">
      <div class="text-center ">
        <h1 class="display-4">Se connecter</h1>
        <hr class="w-25 mx-auto" />
      </div>

    <div class="container">
        <div class="row">
          <div class="col-xxl-8 col-md-8  col-10 mx-auto">
              <form action="/seconnecter" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Adresse email</label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                  <p>Vous n'avez toujours pas de compte ?</p><a href="inscription">Inscrivez-vous !</a>
                </div>

                <button type="submit" class="btn btn-primary" id="boutonconnexion">Se connecter</button>
              </form>
            
          </div>
          
        </div>
    </div>
    <script src = 'css/script.js'></script>

    </section>